@{ 
    Layout = "_LayoutIndex";
    ViewData["Title"] = "很抱歉，您无权访问！";
}
    <div class="container bg-white">
        <div style="height:600px;text-align:center;overflow: hidden;">
            <h2 style="margin-top:280px;color:red;">很抱歉，您无权访问该页面！</h2>
            <a style="display:inline-block;margin-top:20px;" href="/Home/Index" title="返回首页">返回首页</a>
        </div>
    </div>