
@{
    Layout = "_Layout";
    ViewData["Title"] = "欢迎登录后台";
}
@using Guet.DataAccess;
@using Microsoft.AspNetCore.Identity;
@using Guet.Entities.ApplicationOrganization;
@inject UserManager<ApplicationUser> userManager;

@{
    var user = await userManager.FindByNameAsync(User.Identity?.Name);
}

<div class="admin-dashboard">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <ul class="nav nav-tabs page-tabs">
                    <li class="active"><a href="#!">后台首页</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div style=" "> 
                            <h3>亲爱的 <span style="display:inline-block;padding:0 5px;color:#33cabb;">@user.NickName（@user.UserName）</span>，欢迎登录后台！ </h3>
                            <p style="margin:60px 0;">当前时间：@DateTime.Now.ToString("yyyy年MM月dd HH点mm分ss秒")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>